<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>Theater:</strong>
  <%= @coupon.theater %>
</p>

<p>
  <strong>기간:</strong>
  <%= @coupon.date %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @coupon.picture ,:size => '120x120'%>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
