<!DOCTYPE html>
<html>
<head>
  <title>삐약쿠폰-서버</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<header>
	<div class="wrap">
		<div id="logo" class="pull-left">
			<%= image_tag 'logo_mini.png' ,:width => '20' ,:height => '18' %>
			<a href="/bbicou">
			<strong><span class="main-color">삐약쿠폰</span> 8월</strong>
			</a>
		</div>
		<div class="pull-right">
			<i class="fa fa-align-justify" style="color:#fff"></i>
		</div>
	</div>
</header>

<div class="container">
	<%= yield %>
</div>

<footer class="row">
삐약쿠폰은 로컬 지역 쿠폰입니다.<br>
어떠한 법적 책임도 없음을 밝힙니다.<br>
회원 여러분의 많은 참여 부탁드립니다<br>
사랑합니다 고객님
</footer>

</body>
</html>
