<!DOCTYPE html>
<html>
<head>
  <title>삐약쿠폰</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div id="logo"><%= image_tag 'logo_mini.png' , :alt => '병아리그림' %></div>
</header>

<div class="container">
	<%= yield %>
</div>

<footer class="row">
footer
</footer>

</body>
</html>
